# PlatformIO
**/.pio/
**/.piolibdeps/
**/.pioenvs/
**/.sconsign.dblite

# Build outputs
**/build/
**/dist/
**/*.o
**/*.obj
**/*.elf
**/*.hex
**/*.bin
**/*.map

# VS Code local settings
**/.vscode/
!/.vscode/
!/.vscode/tasks.json

# Logs
**/*.log

# OS cruft
**/.DS_Store
**/Thumbs.db
